.search-container {
    background-image: url("../../ImageForTest/images/backgroud-search.jpg");
    height: 700px;
    width: 100%;
    /*background-attachment: fixed;*/
    background-size: cover;
    color: white;
}

.title-text {
    font-size: 70px;
    font-weight: bold;
}

.title-content-text {
    font-size: 25px;
}
